<div style="text-align: center; padding: 50px;">
  <h1>Hello from roadtrip_planner!</h1>
  <p>Welcome to your new Rails 8 application running in Docker!</p>
  <p>Rails version: <%= Rails.version %></p>
  <p>Ruby version: <%= RUBY_VERSION %></p>
</div>